<section class = "rw-wrapper">
  <h2>Timeless Quote</h2>
  <h6 class = "rw-sentence">
  <div class="rw-words rw-words-1">
     <span> <tbody>
      <%= @quote.quote %>
  <h6> <i> <%= @quote.author %> </h6> </i> </span>
  </tbody>
  </div>
  </h6>


</section>



